@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/src/assets/fonts/AtkinsonHyperlegible-Regular.woff) format("woff"),
    url(/src/assets/fonts/AtkinsonHyperlegible-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/src/assets/fonts/AtkinsonHyperlegible-Italic.woff) format("woff"),
    url(/src/assets/fonts/AtkinsonHyperlegible-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/src/assets/fonts/AtkinsonHyperlegible-Bold.woff) format("woff"),
    url(/src/assets/fonts/AtkinsonHyperlegible-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url(/src/assets/fonts/AtkinsonHyperlegible-BoldItalic.woff)
      format("woff"),
    url(/src/assets/fonts/AtkinsonHyperlegible-BoldItalic.woff2) format("woff2");
  font-weight: 700;
  font-style: italic;
}
