$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$primary-background: #011527;
$secondary-background: #0c3c21;
$tertiary-background: #054a91;

$primary-dark: #070707;
$secondary-dark: #292d37;
$primary-light: #ffffff;

$secondary-light: #dbe4ee;
$primary-border: #3e7cb1;
$secondary-border: #81a4cd;
