.home-page {
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 4px 0;
  }

  &__input {
    text-transform: uppercase;
    &-error {
      border-color: red;
    }
  }
}
